*{
    padding: 0;
    margin: 0;
}
body{
    background: url("snakeprojectjs/assets/snake.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playArea{
    background: linear-gradient(rgb(169, 239, 169),rgb(233, 233, 126));
    width: 90vmin;
    height: 92vmin;  /*vmin=based upon our screen size */
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);   
    /* 1fr stands for per unit grid */
    grid-template-columns: repeat(18,1fr);
}
.snake{
    background-color: purple;

}
.food{
    background-color: yellow;
 
}
.head{
    background-color: red;
}
#scorebox{
    position: absolute;
    top:10px;
    right: 200px;
    font-size: 30px;
    font-weight: bold;


}
#hiscorebox{
    position: absolute;
     top:40px;
    right: 162px;
    font-size: 30px;
    font-weight: bold;
}